:root {
	--main-backgorund: hsl(235, 21%, 11%);
	--white: hsl(0, 100%, 100%);
	--todo-background: hsl(235, 24%, 19%);
	--gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}