.footer {
	width: 100%;
	display: flex;
	justify-content: center;

	span {
		display: block;
		font-size: 12px;
		color: hsl(234, 11%, 52%);

		@media all and (max-width:650px) {
			font-size: 14px;
		}
	}
}