.main {
	width: 100%;
	display: flex;
	flex-direction: column;

	&__todo-list {
		margin-top: 20px;
		box-shadow: 0 10px 30px 10px hsl(240, 20%, 8%);
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		background: var(--todo-background);
		height: 40px;
		box-shadow: 0 30px 30px 10px hsl(240, 20%, 8%);
	}

	&__nav {
		width: 30%;

		ul {
			margin: 0;
			padding: 0;
			display: flex;
			list-style: none;
			width: 100%;
			justify-content: space-between;
		}
	}

	&__item-counter {
		display: block;
		font-size: 12px;
		color: hsl(234, 11%, 52%);
	}

	&__link {
		color: hsl(234, 11%, 52%);
		text-decoration: none;
		font-size: 12px;

		&_active {
			color: hsl(220, 98%, 61%);
		}

		&:hover {
			color: hsl(234, 39%, 85%);
		}
	}

	&__clear-btn {
		background: transparent;
		color: hsl(234, 11%, 52%);
		cursor: pointer;
		border: none;
		font-size: 12px;

		&:focus {
			outline: none;
		}

		&:hover {
			color: hsl(234, 39%, 85%);
		}
	}
}